asmanalt.session
data.json
frog_v2 (ABANDONED).py
frogbot_asmanalt.session
frogbot_asmanalt2.session
frogbot_asmanalt3.session
frogbot_asmanmain.session
frogbot_danikalt.session
frogbot_rostikalt.session
test.py
test2.py
.vscode/settings.json
__pycache__/frog_exec.cpython-310.pyc
__pycache__/frog_write.cpython-310.pyc
